---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Visualize The Primeagen anime repository of wallpapers and random images"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.jpg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="og:title" content={title} />
    <meta
      name="og:description"
      content="Visualize The Primeagen anime repository of wallpapers and random images"
    />
    <meta name="og:image" content="/og.jpg" />
    <meta name="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  body {
    margin: 0;
    font-family: Roboto, sans-serif;
    color: #333;
    line-height: 1.5;
    display: grid;
    place-items: center;
    padding-block: 2rem;
  }
</style>
